package components

import (
	"github.com/F0RG-2142/capstone-1/internal/database"
)

templ ListNotes(notes []database.Note) {
	<div id="note-list" class="note-list">
		for _, note := range(notes) {
			<div class="note">
				<h1>{note.Name}</h1>
				<p>{note.Body}</p>
			</div>
		}
	</div>
}